                <div class="card mt-3 mx-5">
                    <div class="card-body">
                        <div class="container-fluid p-3 bg-light border border-dark">
                            <div class="card-header border border-dark">
                                <h6 class="text-start">User ID: {{ user_id }}</h6>
                            </div>
                            <div class="card-text m-1 p-3 border">
                                {{ body }}
                            </div>
                            <div class="card-footer border border-dark">
                                <h6 class="text-end"><span class="fw-light">Commented on:</span> {{ format_date createdAt }}</h6>
                            </div>
                        </div>
                    </div>
                </div>