<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signin.css">
    <title>All Tech'd Out</title>
</head>
<body>
    <header class="header text-center bg-dark p-4">
        <h1 class="fs-1 text-white">All Tech'd Out</h1>
        {{#if req.session.loggedIn}}
        <div class="text-end">
            <a href="/login" class="btn text-end btn-primary">Login</a>
            <a href="/signup" class="btn text-end btn-primary">Sign up</a>
        </div>
        {{else}}
        <div class="text-end">
            <button class="btn btn-primary text-end" id="logout">Logout</button>
        </div>
        {{/if}}
    </header>
    {{{body}}}

</body>
</html>