<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signin.css">
    <title>All Tech'd Out</title>
</head>
<body>
    <header class="header text-center bg-dark p-4">
        <h1 class="fs-1 text-white">All Tech'd Out</h1>
        {{#if loggedIn}}
        <div class="container">
            <header class="d-flex">
                <div class="text-start col-md-3">
                    <a href="/" class="btn btn-secondary text-end" id="profile">Homepage</a>
                    <a href="/dashboard" class="btn btn-secondary text-end" id="profile">Dashboard</a>
                </div>
                <div class="col-auto col-md-6"></div>
                <div class="col-md-3 text-end">
                    <button class="btn btn-secondary text-end" id="profile">Profile</button>
                    <button class="btn btn-secondary text-end" id="logout">Logout</button>
                </div>
            </header>
        </div>
        {{else}}
        <div class="text-end">
            <a href="/login" class="btn btn-secondary text-end btn-primary">Login</a>
            <a href="/signup" class="btn btn-secondary text-end btn-primary">Sign up</a>
        </div>
        {{/if}}
    </header>
    {{{body}}}
{{#if loggedIn}}
<script src="/js/logout.js"></script> 
<script src="/js/index.js"></script>
{{/if}}
</body>
</html>